body{
    background-color: gray;
    line-height: 1.5;
    font-family: sans-serif;
    text-align: justify;
    margin: 2em;
    padding: 2em;
    border: solid 1px;
}

h1{
    text-align: center;
    color: orange;
}

h2{
    text-align:left;
    color: blue;
}

button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    background-color: lightblue;
    text-align: center;

    display: block;
    margin: auto;
}

button a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    text-decoration: none;
}

img{
    display: block;
    margin: auto;
    width: 10%;
}

header{
    padding-top: 2em;
}
